################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/WpfProject/.vs/
/WpfProject/bin/
/WpfProject/obj/