################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/PersonalButtons/.vs/
/PersonalButtons/bin/
/PersonalButtons/obj/